<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>plugin</string>
	<key>CFBundleIdentifier</key>
	<string>com.hugojourdan.contextManager</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>findContext</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>UpdateFeedURL</key>
	<string>https://raw.githubusercontent.com/HugoJourdan/Context-Manager/blob/main/FindContext.glyphsPlugin/Contents/Info.plist</string>
	<key>productPageURL</key>
	<string>https://github.com/HugoJourdan/Context-Manager</string>
	<key>productReleaseNotes</key>
	<string>Release</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright, Hugo Jourdan, 2022</string>
	<key>NSPrincipalClass</key>
	<string>contextManager</string>
	<key>PyMainFileNames</key>
	<array>
		<string>plugin.py</string>
	</array>
</dict>
</plist>
